*
**/*

!.zed/
!.zed/debug.json
!.zed/tasks.json
!compile_flags.txt

!build/
!build/Makefile

!src/
!src/.editorconfig
!src/*.c
!src/*.h
!src/code/
!src/code/*.c
!src/code/*.h

!LICENSE
!README.md
!.gitignore
